<div class="row">
	<div class="col col-md-2"></div>
	<div class="form-group col col-md-4">
		<%= f.text_field :product_id, multiple: true, :class => "form-control input"  %>
	</div>
	<div class="form-group col col-md-2">
		<%= f.text_field :available_quantity, multiple: true, :class => "form-control input"  %>
	</div>
	<div class="form-group col col-md-2">
		<%= f.text_field :sale_price, multiple: true, :class => "form-control input"  %>
	</div>
	<div class="col col-md-2"></div>
</div>